html {
	background-color: #cccccc;
}

header {
	background-color: gray;
	padding: 1em 2em 2em 2em;
}

h1 {
	background-color: gray;
	font-weight: normal;
	font-size: 4rem;
	font-style: normal;
	text-decoration: underline;
	font-family: "Bowlby One Sc";
	line-height: none;
	padding: 0.5em 0.5em 0.5em 3em;
	display:inline-block;
}

nav a {
	text-decoration: none;
	margin:0.5em;
	font-family: "Bitter";

}

ol {
	background-color: gray;
	display: block;
	padding: 1em 1em 1em 1em;
}

h2 {
	font-weight: normal;
	font-size: 2rem;
	font-style: normal;
	text-decoration: underline;
	font-family: "Bowlby One Sc";
	line-height: 1;
	padding: 0.2em 1em 1em 1em;
}

h3 {
	font-weight: normal;
	font-size: 1.5rem;
	font-style: normal;
	text-decoration: none;
	font-family: "Bowlby One Sc";
}

li a {
	padding:1em 1em 1em 1em;
}

header li {
	margin: 0.5em;
	display: inline-block;
	background-color: black;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border-radius: 6px;
}

a {
	color: white;
	font-size: 1rem;
}

a:hover	{
	color: blue;
}

p {
	font-family: "Bitter";
}

b {
	Color: grey;
}

ol{
	list-style: none;
	padding: 0;
}

ul {
	list-style-type: square;
	font-family: "Bitter";
}

figcaption {
	font-family: "Bitter";
	font-style: italic;
	font-size: 0.8rem;
}

blockquote {
text-align: center;
font-size:1.5rem;
font-family: "Bitter";
}

.neil {
	text-align: right;
	font-style: italic;
}

dl {
	font-family: "Bitter";
}

.term {
	font-weight: bold;
}

figure {
	display: inline-block;
	padding: 1em 1em 0.5em 1em;
	border-radius: 10px;
	border:3px solid black;
	margin:0;
}

footer {
	background-color: gray;
	list-style-type:square;
	padding:1em 1em 1em 1em;
}

footer h2 {
	margin: 0;
	padding: 0;
}
